			<div id="sitemap">
				<ul>
					<li><a class="nav-link" href="index.html">Home</a></li>
					<li><a class="nav-link" href="about-us.html">About</a></li>
					<li><a class="nav-link" href="contact-us.html">Contact Us</a></li>
				</ul>
			</div>
			<div class="social-btns">
				<ul>
					<li><a class="social-link fb" href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a class="social-link gp" href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a class="social-link yt" href="#"><i class="fa fa-youtube"></i></a></li>
					<li><a class="social-link tw" href="#"><i class="fa fa-twitter"></i></a></li>
				</ul>
			</div>
			<b>&copy ShowEvent 2016</b>